body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulb {
    width: 20%;
}

.bulb-Button {
    background-color: yellow; 
    border: none;
    color: white;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.bulb-Button {
    background-color: white;
    color: black;
    border: 2px solid yellow;
}

.bulb-Button:hover {
    background-color: yellow;
    color: white;
}

.traffic-signal img {
    width: 30%;
}
